/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,700;0,800;1,300;1,500&display=swap");

/*========== VARIABLES CSS ==========*/
:root {
  /*===== Colors =====*/
  --soft-white: #fbfaf5;
  --soft-black: #181a18;
  --white: hsl(0, 0%, 100%);
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
  --primary-blue: #26a3de;
  --shy-blue: #c0e4f5;
  --confident-blue: #68bfe8;
  --soothing-blue: #ecf7fc;
  --signal-red: #ff2600;
  --error: #ff3333;

  /*===== Font and typography =====*/
  --body-font: "Plus Jakarta Sans", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --fs-6: 6rem;
  --fs-5-5: 5.5rem;
  --fs-5: 5rem;
  --fs-4-5: 4.5rem;
  --fs-4: 4rem;
  --fs-3-5: 3.5rem;
  --fs-3: 3rem;
  --fs-2-5: 2.5rem;
  --fs-2: 2rem;
  --fs-1-5: 1.5rem;
  --fs-1: 1rem;
  --fs-0-95: 0.95rem;
  --fs-0-85: 0.85rem;
  --fs-0-75: 0.75rem;
  --fs-0-65: 0.65rem;
  --fs-0-5: 0.5rem;
  --fs-0-25: 0.275rem;
  --fs-0-2: 0.2rem;
  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*===== Margenes Bottom =====*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-3-5: 3rem;
  --mb-4: 4rem;
  --mb-4-5: 4.5rem;
  --mb-5: 5rem;
  --mb-5-5: 5.5rem;
  --mb-6: 6rem;
  --mb-6-5: 6.5rem;
  --mb-7: 7rem;
  --mb-7-5: 7.5rem;
  --mb-8: 8rem;
}

/*==================== BASE ====================*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-size: var(--fs-1);
  letter-spacing: -0.01em;
  word-spacing: 0.4px;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--body-font);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*==================== MAIN ====================*/

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--very-light-grayish-blue);
  padding: var(--mb-1-5) 0;
}

.notifications {
  width: 42%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  padding: var(--mb-1-5);
  background-color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}

.notifs-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
  /* border: 1px red solid; */
}

.notifs-header h1 {
  flex: 0 0 auto;
  font-size: 1.2rem;
  font-family: var(--body-font);
  font-weight: 800;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--mb-0-5);
}

.notifs-number {
  flex: 0 0 auto;
  height: auto;
  padding: 0.1rem 0.6rem;
  border-radius: 0.3rem;
  background-color: var(--blue);
  color: var(--white);
  font-size: 0.75rem;
}

.notifs-header p {
  font-size: 0.8rem;
  font-family: var(--body-font);
  text-align: right;
  color: var(--dark-grayish-blue);
  font-weight: 600;
  cursor: pointer;
}

.notifs-header p:hover {
  color: var(--blue);
}

.notifs-messages {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.4rem;
}

.nm-card {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--mb-0-75);
  /* border: 1px dodgerblue solid; */
  padding: 0.8rem 0.75rem;
  /* background-color: var(--very-light-grayish-blue); */
  background-color: var(--white);
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.nm-card:nth-child(-n + 3) {
  background-color: var(--very-light-grayish-blue);
}

.unread {
  background-color: var(--white) !important;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

/* .nm-card > div {
  border: 1px tomato solid;
} */

.nm-card__img {
  flex: 0 0 9%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nm-card__img img {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.nm-card__content {
  flex: 0 0 89%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* row-gap: 0.15rem; */
}

.nm-card__content p {
  font-size: 0.8rem;
  color: var(--dark-grayish-blue);
  text-align: left;
  font-weight: 500;
  /* letter-spacing: -0.03em; */
}

.nmcc {
  font-weight: 800;
  text-decoration: none;
  color: var(--dark-grayish-blue);
  transition: all 0.3s ease;
  padding-right: 0.15rem;
}

.nmcc:first-child {
  color: var(--very-dark-blue);
}

.nmcc:first-child:hover {
  color: var(--blue);
}

.notif-icon {
  font-size: 0.525rem;
  color: var(--red);
}

.hide-notif-icon {
  color: transparent !important;
}

.nm-card__content span {
  font-size: 0.8rem;
  color: var(--grayish-blue);
  text-align: left;
  font-weight: 500;
}

.nm-cc__message {
  width: 100%;
  height: auto;
  padding: 0.8rem;
  border-radius: 5px;
  border: 2px var(--light-grayish-blue-1) solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s ease;
  margin-top: var(--mb-0-5);
}

.nm-cc__message:hover {
  background-color: var(--light-grayish-blue-1);
}

.nm-cc__message p {
  font-size: 0.8rem;
  color: var(--dark-grayish-blue);
  text-align: left;
  font-weight: 500;
  line-height: 18px;
}

.show-message {
  display: none;
}

.nmcc-img {
  position: absolute;
  right: var(--mb-1);
  top: 1rem;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  /* border: 1px yellow solid; */
}

@media screen and (max-width: 480px) {
  main {
    height: auto;
  }

  .notifications {
    width: 90%;
    justify-content: center;
  }

  .nm-card:nth-child(5) .nm-card__content p {
    width: 80%;
  }
}

@media screen and (min-width: 1400px) {
  .notifications {
    width: 30%;
    justify-content: center;
  }
}
